<form action="quizes" method="get">
  <input type="text" name="search">
  <input type="submit" value="Buscar">
</form>
<table>
  <% if (quizes.length === 0) { %>
    <p>
      No se han encontrado preguntas que coincidan con la búsqueda
    </p>
  <%} %>
  <% for (var i = 0; i < quizes.length; i++) { %>
    <tr>
      <td>
        <a href="quizes/<%= quizes[i].id %>"> <%= quizes[i].pregunta %></a>
      </td>
      <td>
        <a href="quizes/<%= quizes[i].id %>/edit"><button type="button" name="button">Editar</button></a>
      </td>
      <td>
        <form action="quizes/<%= quizes[i].id %>?_method=delete" method="post">
          <button type="submit" onClick="return confirm('¿Estás seguro de borrar: <%= quizes[i].pregunta %>?');">Borrar</button>
        </form>
      </td>
    </tr>
  <% } %>
</table>
<a id="crearPreg" href="quizes/new">Crear nueva pregunta</a>
