<form id="show" action="/quizes/<%= quiz.id %>/answer" method="post">
  <h4 id=pregunta>Pregunta: <%= quiz.pregunta %></h4>
  <p id="pista">Pista: <%= quiz.pista %></p>
  <input type="text" name="respuesta" placeholder="Responder">
  <input type="submit" value="Enviar">
  <h5><small>No olvides usar las mayúsculas</small></h5><br>
  <p>
    Esta pregunta pertence al tema de <%= quiz.tema %>
  </p>
</form>
<br>
<p>
  <a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a>
</p>
<p>
  <strong>Comentarios: </strong>
  <% if (quiz.Comments.length > 0){ %>
  </p>
  <% for (index in quiz.Comments) { %>
  <% if(quiz.Comments.publicado || session.user){ %>
    <p>
      - <%= quiz.Comments[index].texto %>
      <% if(!quiz.Comments[index].publicado && session.user) { %>
        <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id%>/publish"><button>Publicar</button></a>
      <% } %>
  </p>
  <%}%>
  <% } %>
  <% }else { %>
      <p>
        No hay comentarios
      </p>
    <%} %>
